/*Overide base CSS*/
html {
    position: relative;
    min-height: 100% !important;
}
body {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    min-width: 640px;
}
main {
    padding-bottom: 20px;
}


/*Overide bootstrap CSS*/
.container-fluid {
    /*margin-bottom: 20px;*/
}
.navbar-brand {
    font-size: 24px;
}
.input-lg, .btn-lg {
    /*border-radius: 50px;*/
}

/*Customize classes*/
.avatar {
    margin-bottom: 20px;
}
.loader-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.form-signin, .form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.footer {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
input[readonly] {
    background-color: transparent !important;
    padding-left: 0;
    border: 0;
    box-shadow: none;
}
input[readonly]:hover, input[readonly]:focus {
    box-shadow: none;
}